<body>
    <div class="parent">
        <h1>creating sagshipping</h1>
        <h2>sagshipping can be found <a href="https://sagshipping.netlify.app">here</a></h2>
        <p>sagshipping was created by me and my team, consisting of 5 members, having me as the main developer for both front and back-end SagShipping was developed by me and my team, which consists of five dedicated members. As the main developer, I was responsible for both the front-end and back-end development, ensuring seamless functionality and an intuitive user experience. My role involved designing and implementing key features, optimizing performance, and integrating various technologies to create a robust and efficient system. Collaborating closely with my team, we worked together to refine the project, troubleshoot challenges, and enhance the overall quality of the platform. Our combined efforts resulted in a well-structured and scalable solution tailored to meet the needs of our users.</p>
    </div>
</body>