<body>
    <h1>creating sagshipping</h1>
    <h2>sagshipping can be found <a href="https://sagshipping.netlify.app">here</a></h2>
    <p>SagShipping was developed by my team and me, consisting of five dedicated members. As the lead developer, I was responsible for both front-end and back-end development, ensuring seamless functionality and an intuitive user experience. My role involved designing and implementing key features, optimizing performance, and integrating various technologies to build a robust and efficient system. Collaborating closely with my team, we refined the project, resolved challenges, and enhanced the platform’s overall quality. Our combined efforts resulted in a well-structured, scalable solution tailored to meet user needs.</p>
</body>