body {
    height: 80%;
    width: 50%;
    display: flex;
    // margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    // background-color: red;
    place-self: center;
}


div {
    margin-bottom: 10px;
    margin-top: 10px;
}