<body>
        <div class="child1">
            <h1>Kenryan Luke Arias</h1>
            <ul class="posts">
                <li><a href="mailto:kenryanlbarias@gmail.com">kenryanlbarias&#64;gmail.com</a></li>
                <li><p>linkedin.com/<a href="https://www.linkedin.com/in/kenryan-luke-arias-a0326b2a8/">kenryan-luke-arias</a></p></li>
                <li><p>github.com/<a href="https://github.com/kenryanlukearias">kenryan</a></p></li>
            </ul>
        </div>
        <div class="child2">
            <h2>currently</h2>
            <ul>
                <li>studying at bathspa university rak</li>
                <li>creating a robot using arduino</li>
                <li>making a website for a project</li>
            </ul>
        </div>
        <p class="spacer">-----------------------------------------------------------------------------------</p>
        <div class="child3">
            <h2>posts</h2>
            <ul class="posts">
                <!-- <li>3.25</li>
                <li>3.25 .</li> -->
                <li>06.24.24. <a href="sagshipping">creating sagshipping for my creative industry project</a></li>
            </ul>
        </div>
</body>