body {
    height:80%;
    width: 100%;
    display: flex;
    // margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    // background-color: red;
    
}


h1 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    margin: 0;
}

ul {
    padding-left: 3rem;
}
li {
    margin-bottom: 0px ;
}

.posts {
    padding-left: 0;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spacer {
    padding-top: 20px;
    padding-bottom: 20px;
}