* {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    font-size: medium;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: black;
}

h1 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
}